.App {
  text-align: center;
}

.navbar {
  margin: 40px;
}

.navbar-brand {
  /* Rubik Vinyl is another interesting font for the title */
  font-family: 'Vast Shadow', cursive;
  font-weight: bolder;
  font-size: 50px;
  margin: 20px;
  color: white;
}

.navbar-brand:hover {
  color: #910505;
}

.nav-link {
  color: white;
}

.nav-link:hover {
  color: #910505;
}

body {
  background-image: url('../src/assets/images/newEraBegins.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  font-family:Impact, Haettenschweiler, sans-serif;
  color: #e41010e5;
  background-color: black;
}

.nav-item {
  font-family: 'Bungee Inline', cursive;
  font-weight: bolder;
  font-size: 18px;
  background-image: linear-gradient(to bottom, #111111d8 20%, #f8000033 70%);
}

.nav-link:hover {
  color: #910505;
}

.loginBtn {
  font-family: 'Bungee Inline', cursive;
  font-weight: bolder;
  font-size: 18px;
  color: white;
  background-image: linear-gradient(to bottom, #111111 50%, #e41010e5 100%);
}

.loginBtn:hover {
  color: #910505;
}

.howItWorks {
  background-image: linear-gradient(to bottom, #111111 30%, #e41010d8 70%);
}

.tutorial {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tutorialLine {
  color: white;
}


@media screen and (max-width:750px) {
  .howItWorks {
    width: 90%;
  }
}

/* Adding custom media query for font size in nav bar at smaller resolutions */
@media screen and (max-width:500px) {
  .navbar-brand {
    font-size: 24px;
  }

  li {
    font-size: 14px;
  }

}