.App {
  text-align: center;
}

.navbar {
  margin: 40px 40px 0px 40px;
}

.navbar-brand {
  /* Rubik Vinyl is another interesting font for the title */
  font-family: 'Vast Shadow', cursive;
  font-weight: bolder;
  font-size: 50px;
  margin: 20px;
  color: white;
}

.navbar-brand:hover {
  color: #910505;
}

.nav-link {
  color: white;
}

.nav-link:hover {
  color: #910505;
}

body {
  background-image: url('../src/assets/images/newEraBegins.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  font-family:Impact, Haettenschweiler, sans-serif;
  color: #3ae410e5;
  background-color: black;
}

.nav-item {
  font-family: 'Bungee Inline', cursive;
  font-weight: bolder;
  font-size: 18px;
  background-image: linear-gradient(to bottom, #111111d8 20%, #f8000033 70%);
}

.nav-link:hover {
  color: #910505;
}

.loginBtn {
  font-family: 'Bungee Inline', cursive;
  font-weight: bolder;
  font-size: 18px;
  color: white;
  background-image: linear-gradient(to bottom, #111111 50%, #e41010e5 100%);
}

.loginBtn:hover {
  color: #910505;
}

h2 {
  background-color: rgb(27, 26, 26);
}

.textCard {
  display: flex;
  justify-content: center;
  margin: 20px 20px 0px 40px;
  background-color: rgb(27, 26, 26);
  color: #3ae410e5;
  font-size: 24px;
}

.howItWorks {
  background-image: linear-gradient(to bottom, #111111 30%, #e41010d8 70%);
}

.tutorial {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tutorialLine {
  color: white;
}

/* Start of custom CSS for Profile page */
h3 {
  display: flex;
  justify-content: flex-start;
  margin-left: 40px;
}

.profileDescription {
  background-color: #111111;
  width: 30%;
  margin: 20px 40px 20px 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
}

.carousel {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10%;
}

/* Character creation modal */
.charPar {
  font-size: 12px;
}


@media screen and (max-width:750px) {
  .howItWorks {
    width: 90%;
  }

  .profileDescription {
    font-size: 22px;
  }
}

/* Adding custom media query for font size in nav bar at smaller resolutions */
@media screen and (max-width:500px) {
  .navbar-brand {
    font-size: 24px;
  }

  li {
    font-size: 14px;
  }

  .profileDescription {
    font-size: 18px;
  }
}