.App {
  text-align: center;
}

.navbar {
  margin: 40px;
}

.navbar-brand {
  /* Rubik Vinyl is another interesting font for the title */
  font-family: 'Vast Shadow', cursive;
  font-weight: bolder;
  font-size: 50px;
  margin: 20px;
  color: white;
}

.navbar-brand:hover {
  color: #910505;
}

.nav-link {
  color: white;
}

.nav-link:hover {
  color: #910505;
}

body {
  background-image: linear-gradient(to bottom, #000000 15%,  #492106 20%, #a74402 40%, #fff 90%);
  background-repeat: no-repeat;
  height: 100vh;
  font-family:Impact, Haettenschweiler, sans-serif;
  color: white;
}

.nav-item {
  font-family: 'Bungee Inline', cursive;
  font-weight: bolder;
  font-size: 18px;
  background-image: linear-gradient(to bottom, #111111d8 20%, #f800004f 70%);
}

.nav-link:hover {
  color: #910505;
}

.loginButton {
  font-family: 'Bungee Inline', cursive;
  font-weight: bolder;
  font-size: 18px;
  color: white;
  background-image: linear-gradient(to bottom, #111111 10%, #e4652ae5 70%);
}

.loginButton:hover {
  color: #910505;
}

.howItWorks {
  background-image: linear-gradient(to bottom, #181818ce 10%, #922d01e5 70%);
}

.tutorialLine {
  color: white;
}


/* Adding custom media query for font size in nav bar at smaller resolutions */
@media screen and (max-width:500px) {
  .navbar-brand {
    font-size: 24px;
  }

  li {
    font-size: 14px;
  }

}